<header>
  <h1>To Do list</h1>

</header>

<main>
  <div class="container">
    <div class="todos">

      <div class="todo">
        <div class="todo-text">
          Play Chess
        </div>
        <div class="todo-actions">
          <a class="todo-action" href="">remove</a>
          <a class="todo-action" href="">update</a>
        </div>
      </div>
      <div class="todo">
        <div class="todo-text">
          Play Chess
        </div>
        <div class="todo-actions">
          <a class="todo-action" href="">remove</a>
          <a class="todo-action" href="">update</a>
        </div>
      </div>

    </div>
    <div class="add-new-todo">
      <form action="">
        <input name="text" placeholder="To Do"/>
        <button>Add</button>
    </form>
    </div>
  </div>
</main>